= content_for :head do
  %script(src="https://js.stripe.com/v2/")
  :javascript
    Stripe.setPublishableKey("#{Rails.application.secrets.stripe_publishable_key}");
  = javascript_include_tag 'payments'
%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-7') do |f|
        %header
          %h1 Register
        = f.text_field :email
        = f.password_field :password, control_col: 'col-sm-3'
        = f.password_field :password_confirmation, control_col: 'col-sm-3'
        = f.text_field :full_name
        = hidden_field_tag :token, @token if @token
        %fieldset.credit_card
          .payment-errors.alert.alert-danger
          .form-group
            %label.control-label.col-sm-3 Credit Card Number
            .col-sm-7
              %input.form-control.card-number(type="text")
          .form-group
            %label.control-label.col-sm-3 Security Code
            .col-sm-2
              %input.form-control.card-cvc(type="text")
          .form-group
            %label.control-label.col-sm-3 Expiration
            .col-sm-2
              = select_month(Date.today, {add_month_numbers: true},  class: 'form-control card-exp-month')
            .col-sm-5
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control card-exp-year')
        .col-sm-offset-3
          = f.submit 'Sign up', class: 'btn btn-success sign-up-button'