%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %video(poster="#{@video.large_cover_url}")
          %source(src="#{@video.link_url}" type="video/#{@video.link_url_ext}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= @video.total_rating
        %p= @video.description
        .actions
          =button_tag 'Watch now', class: 'btn btn-default watch-now'
          .inline
            = link_to '+ My Queue', queue_items_path(video_id: @video.id), method: :post, class: 'btn btn-default' unless current_user.video_in_queue?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [ @video, @review ] do |f|
        %fieldset
          .form-group
            .row
              .col-sm-3
                = f.select :rating, select_collection_rating_values, { label: 'Rate this video' }
          .form-group
            .row
              .col-sm-8
                = f.text_area :content, label: 'Write a review', rows: 6
        %fieldset.form-group.actions.clearfix
          = f.submit 'Submit'
          %a(href="") Cancel
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p
                  by
                  = link_to review.user.full_name, review.user
              .col-sm-8
                %p= review.content